/* ********* imports ******** */
/** Raleway (Bold 700 (Italic) & Black 900) **/
/** Cabin                                   **/
@import url('https://fonts.googleapis.com/css?family=Cabin|Raleway:800&display=swap');

/* ********** root ********** */
:root{
    --body-background-color: #0f0f0f;
    --header-color: #1c1c1c;
    --text-color: #FFFFFF;
    --search-bar-color: #474747;
    --btn-color: #5E5E5E;
    --shadow-color: #383838;
}

/* ******** general ******* */
* {
    margin: 0;
    padding: 0;
}

div, nav, form, a {
    display: flex;
    flex: 1;
}

body{
    background-color: var(--body-background-color);
}

a {
    text-decoration: none;
    text-align: center;
}

button {
    background-color: var(--btn-color);
    color: var(--text-color);
    font-family: 'Cabin', sans-serif;
    font-size: 1.5em;
    padding: 12px 20px 12px 20px;
    margin: 16px;
    border: 0;
}

/* ********* header ********* */
/** all */
#width-limit {
    padding: 0 145px;
}

header {
    background-color: var(--header-color);
    display: flex;
    width: 100vw;
    height: 55px;
}

#titre {
    flex: 2;
    padding: 20px;
    font-family: 'Cabin', sans-serif;
    font-size: 1.1em;
    color: var(--text-color);
}

/* ********** container ********* */
#container {
    align-items: center;
    flex-direction: column;
    padding: 10vh;
}

#btns {
    padding: 55px;
}

button:hover {
   box-shadow: 5px 5px 15px 5px #2B2B2B;
}

.containerCurrentTime {
    align-content: center;
    padding: 10px;
    flex-wrap: nowrap;
}

.currentTime {
    align-items: center;
    font-family: 'Cabin', sans-serif;
    font-size: 1.8em;
    color: var(--text-color);
}

#chrono {
    padding: 45px 90px 45px 90px;
    border: 20px solid gray;
    background-color: var(--header-color);
}